.feature-category {
    display: none;
    justify-content: center;
    /* gap: 127px; */
    align-items: center;
    /* justify-content: space-evenly; */
    position: relative;
    width: 100%;
    /* max-width: 1440px; */
    height: 510px;
    /* border: 1px solid red; */
    /* border: 1px solid black; */
    margin-bottom: 90px;
}

.features-category-title {
    font-size: 32px;
    font-weight: 700;
    color: hsl(229, 31%, 21%);
    /* width: 100%; */
    /* border: 1px solid black; */
    margin-bottom: 22px;
}

.feature-img-container {
    display: flex;
    position: relative;
    /* border: 1px solid black; */
    width: 100%;
    /* height: 100%; */
    /* max-height: 430px; */
    justify-content: right;
    /* min-width: 478px; */
    /* max-width: 536px; */
    /* align-items: center; */
}

.features-category-wrapper {
    width: 90%;
    /* max-width: 400px; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.feature-background-rectangular {
    background-color: hsl(231, 69%, 60%);
    position: absolute;
    left: 0;
    /* bottom: -90; */
    /* right: 0; */
    z-index: -1;
    border-radius: 0px 200px 200px 0px;
    width: 85%;
    max-width: 655px;
    height: 100%;
    /* max-height: 350px; */
    /* border: 1px solid red; */
}

.feature-white-background-rectangular {
    background-color: white;
    /* max-width: 150px; */
    width: 70%;
    height: 170px;
    position: absolute;
    right: 0;
}

.feature-tab-active {
    display: flex;
}

.features-category-description {
    width: 100%;
    max-width: 435px;
    letter-spacing: 0.5px;
    font-size: 17px;
}

.features-category-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.feature-img-0 {
    margin-right: 50px;
}

.feature-img-2 {
    margin-right: 38px;
}

.br-order-0 {
    bottom: -90;
}

.br-order-1 {
    bottom: -43;
}

.br-order-2 {
    bottom: -43;
}

@media only screen and (max-width: 920px) {
    .features-category-title {
        font-size: 28px;
    }

    .features-category-description {
        font-size: 16px;
    }

    .feature-background-rectangular {
        width: 75%;
    }

    .feature-white-background-rectangular {
        height: 100px;
    }
}

@media only screen and (max-width: 650px) {
    .feature-category {
        flex-direction: column;
        height: auto;
        /* border: 1px solid red; */
        margin-top: 41px;
    }

    .feature-img-container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 78px;
    }

    .feature-img-0 {
        margin-right: 0px;
    }

    .feature-img-2 {
        margin-right: 0px;
    }

    .feature-background-rectangular {
        background-color: hsl(231, 69%, 60%);
        position: absolute;
        left: 0;
        /* right: 0; */
        z-index: -1;
        border-radius: 0px 200px 200px 0px;
        width: 85%;
        max-width: 655px;
        height: 100%;
        /* max-height: 350px; */
        /* border: 1px solid red; */
    }

    .br-order-0 {
        bottom: -35;
    }

    .br-order-1 {
        bottom: -43;
    }

    .br-order-2 {
        bottom: -43;
    }

    .feature-white-background-rectangular {
        display: none;
    }

    .features-category-info {
        align-items: center;
    }
}