.feature-category {
    display: none;
    position: relative;
    width: 100%;
    margin-bottom: 90px;
    gap: 130px;
}

.features-category-title {
    font-size: 32px;
    font-weight: 700;
    color: hsl(229, 31%, 21%);
    margin-bottom: 22px;
}

.feature-img-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: right;
    margin-top: 50px;    
}

.features-category-wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feature-background-rectangular {
    background-color: hsl(231, 69%, 60%);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0px 200px 200px 0px;
    width: 85%;
    max-width: 655px;
    height: 100%;

    border: 1px solid black;
}

.feature-white-background-rectangular {
    background-color: white;
    width: 50%;
    height: 170px;
    position: absolute;
    right: 0;
}

.feature-tab-active {
    display: flex;
}

.features-category-description {
    width: 100%;
    max-width: 435px;
    letter-spacing: 0.5px;
    font-size: 17px;
}

.features-category-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.feature-order-0 {
    /* height: 440px; */
}

.feature-order-1 {
    /* height: 470px; */
}

.feature-order-2 {
    /* height: 470px; */
}


.feature-img-0 {
    /* margin-right: 50px; */
}

.feature-img-2 {
    /* margin-right: 38px; */
}

.br-order-0 {
    /* bottom: -90; */
    bottom: -26%;
}

.br-order-1 {
    bottom: -20;
    max-height: 350px;
    height: 100%;
}

.br-order-2 {
    bottom: -43;
    max-height: 350px;
    height: 100%;
}

@media only screen and (max-width: 920px) {
    .features-category-title {
        font-size: 28px;
    }

    .features-category-description {
        font-size: 16px;
    }

    .feature-background-rectangular {
        /* width: 75%; */
    }

    .feature-white-background-rectangular {
        height: 100px;
    }
}

@media only screen and (max-width: 650px) {
    .feature-category {
        flex-direction: column;
        height: auto;
        margin-top: 41px;
    }

    .features-category-title {
        font-size: 24px;
    }

    .feature-img-container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 78px;
    }

    .feature-img-0 {
        margin-right: 0px;
    }

    .feature-img-2 {
        margin-right: 0px;
    }

    .feature-background-rectangular {
        background-color: hsl(231, 69%, 60%);
        position: absolute;
        left: 0;
        z-index: -1;
        border-radius: 0px 200px 200px 0px;
        width: 85%;
        max-width: 655px;
        height: 100%;
    }

    .br-order-0 {
        bottom: -35;
    }

    .br-order-1 {
        bottom: -43;
        width: 80%;
    }

    .br-order-2 {
        bottom: -43;
        width: 75%;
    }

    .feature-white-background-rectangular {
        display: none;
    }

    .features-category-info {
        align-items: center;
    }
}