#mobile-nav-modal {
  display: none;
  width: 50%;
  text-align: center;
  height: 100%;
}

#mobile-close-button {
  color: white;
}

#mobile-nav-categories-wrapper {
  padding-top: 40px;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 18px;
}

.mobile-nav-category {
  border-top: 1px solid grey;
  padding: 20px;
}

.mobile-nav-category:last-child {
  border-bottom: 1px solid grey;
}

.mobile-nav-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#mobile-login-button {
  color: white;
  border: 2px solid white;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

#mobile-nav-logo-container {
  display: flex;
  justify-content: space-between;
}

#mobile-nav-socials {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media only screen and (max-width: 650px) {
  #mobile-nav-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    background-color: hsla(229, 31%, 21%, 0.9);
    width: 100%;
    height: 100dvh;
    z-index: 2;
    overflow: hidden;
    box-sizing: border-box;
    padding: 35px 25px 35px 25px;
  }
}
